body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.main-window {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
