body {
  padding-top: 70px;
  padding-bottom: 30px;
  overflow: hidden;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.main-window {
  margin:0;
  padding:0;
  top: 70px;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.slider {
  overflow: scroll;
}

.add-to-list:hover, .add-to-list:focus, .add-to-list:active, .add-to-list.active {
  color: #fd8b34;
}
